<main >
    <p-card
        class="!bg-white !border-none !rounded-xl !shadow-none"
    >
        <div class="flex gap-4">
            <div
                class="bg-grey-100 rounded-lg px-3 py-3 text-purple-600 font-semibold h-25"
                id="votes"
            >
                <score [score]="reply_data.score" [data]="{
                    type: 'reply',
                    comment_id: comment_id,
                    reply_id: reply_data.id,
                    username: reply_data.user.username
                }"/>
            </div>
            
            <div class="flex-1 space-y-2" id="comments">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-3">
                        <img
                            [src]="'assets/' + reply_data.user.image.png"
                            [alt]="reply_data.user.username"
                            class="w-8 h-8 rounded-full"
                        />
    
                        <span class="font-semibold text-grey-800">{{reply_data.user.username}} </span>
                        @if (this.user.username === reply_data.user.username) {
                            <p-badge value="you" severity="info" class="!text-white !bg-purple-600" />
                        }
                        <span class="font-normal  text-grey-500">{{reply_data.createdAt}} </span>
                    </div>
                    <div class="flex flex-row gap-8">
                        <delete-dialog [data]="{
                            type: 'reply',
                            comment_id: comment_id,
                            reply_id: reply_data.id,
                            username: reply_data.user.username
                        }"/>
                        <edit-dialog [data]="{
                            type: 'reply',
                            comment_id: comment_id,
                            reply_id: reply_data.id,
                            content: reply_data.content,
                            username: reply_data.user.username
                        }" />
                        <div 
                            class="flex gap-2 text-sm font-bold text-purple-600 cursor-pointer"
                            (click)="handleShowForm()"    
                        >
                            <img
                                src="assets/icon-reply.svg"
                                alt="icon-reply"
                                class="size-4"
                            />
                            Reply
                        </div>
                    </div>
                </div>
    
                <p class="text-grey-500 font-normal leading-relaxed">
                    <span class="text-purple-600 font-semibold">{{reply_data.replyingTo}} </span>
                    {{reply_data.content}}
                </p>
            </div>
        </div>
    </p-card>
    @if (store.activeReplyIdState() === reply_data.id) {
        <div class="mt-4">
            <app-form [data]="{
                type: 'reply',
                comment_id: comment_id,
                username: reply_data.user.username
            }"/>
        </div>
    }
</main>