<main class="ml-10 border-l-2 border-gray-200 pl-6" id="reply-comment-container">
    <mat-card
        appearance="outlined"
        class="!border-none"
    >
        <div class="flex gap-4 p-4 rounded-xl">
            <!-- Votes -->
            <div
                class="flex flex-col items-center justify-between bg-grey-100 rounded-lg px-2 py-3 text-indigo-600 font-semibold"
                id="votes"
            >
                <up-vote [score]="reply.score"/>
            </div>
            
            <!-- Content -->
            <div class="flex-1 space-y-2" id="comments">
                <!-- Header -->
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-3">
                        <img
                            src="assets/{{reply.user.image.png}}"
                            alt="avatar"
                            class="w-8 h-8 rounded-full"
                        />
    
                        <span class="font-semibold text-grey-800">{{reply.user.username}} </span>
                        <span class="text-sm font-normal text-grey-500">{{reply.createdAt}} </span>
                    </div>
                    <div class="flex flex-row gap-8">
                        <div class="flex gap-2 text-sm font-bold text-pink-400 cursor-pointer">
                            <img
                                src="assets/icon-delete.svg"
                                alt="icon-delete"
                                class="size-4 w-3"
                            />
                            Delete
                        </div>
                        
                        <div class="flex gap-2 text-sm font-bold text-purple-600 cursor-pointer">
                            <img
                                src="assets/icon-edit.svg"
                                alt="icon-edit"
                                class="size-4 "
                            />
                            Edit
                        </div>
                        
                        <div class="flex gap-2 text-sm font-bold text-purple-600 cursor-pointer">
                            <img
                                src="assets/icon-reply.svg"
                                alt="icon-reply"
                                class="size-4"
                            />
                            Reply
                        </div>
                    </div>
                </div>
    
                <!-- Text -->
                <p class="text-grey-500 font-normal leading-relaxed">
                    <span class="text-purple-600 font-semibold">{{reply.replyingTo}} </span>
                    {{reply.content}}
                </p>
            </div>
        </div>
    </mat-card>
</main>