<main >
    <p-card
        class="!bg-white !text-grey-800 !border-none !rounded-xl !shadow-none"
    >   
        <div class="flex items-start gap-4">
            <img
                src="assets/avatars/image-juliusomo.png"
                alt="avatar"
                class="w-10 h-10 rounded-full"
            />
    
            <textarea
                rows="3"
                #textarea
                [placeholder]="replyingTo()? '' : 'Add a comment...'"
                class="flex-1 resize-none border border-gray-200 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-purple-600"
                [(ngModel)]="comment" 
            ></textarea>
    
            <button
               pButton
               class="!h-10 !px-6 !rounded-lg !bg-purple-600 !text-white font-bold !border-none"
                (click)="addComments()"
            >
                SEND
            </button>
        </div>
    </p-card>
</main>