<main id="comments-item-container">
    <p-card class="!bg-white !border-none !rounded-xl !shadow-none">
        <div class="flex flex-col md:flex-row gap-4">
            <!-- Score desktop -->
            <div class="hidden md:flex">
                <score
                [score]="comment_data.score"
                [data]="{
                    type: 'comment',
                    comment_id: comment_data.id,
                    username: comment_data.user.username
                }"
                />
            </div>

            <!-- Content -->
            <div class="flex-1 space-y-4">
                <!-- Header -->
                <div class="flex items-center justify-between flex-wrap gap-3">
                    <div class="flex items-center gap-3 flex-wrap">
                        <img
                        [src]="'assets/' + comment_data.user.image.png"
                        [alt]="comment_data.user.username"
                        class="w-8 h-8 rounded-full"
                        />
            
                        <span class="font-semibold text-grey-800">
                        {{ comment_data.user.username }}
                        </span>
            
                        @if (this.user.username === comment_data.user.username) {
                        <p-badge
                            value="you"
                            severity="info"
                            class="!text-white !bg-purple-600"
                        />
                        }
            
                        <span class="text-grey-500 ">
                        {{ comment_data.createdAt }}
                        </span>
                    </div>
                    <!-- Desktop actions -->
                    <div class="hidden md:flex  gap-6">
                        <delete-dialog [data]="{
                            type: 'comment',
                            comment_id: comment_data.id,
                            username: comment_data.user.username
                        }"/>
                        <edit-dialog [data]="{
                            type: 'comment',
                            comment_id: comment_data.id,
                            content:comment_data.content,
                            username: comment_data.user.username
                        }" />
                        <button
                        class="flex gap-2 font-bold text-purple-600 text-sm "
                        (click)="handleShowForm()"
                        >
                        <img src="assets/icon-reply.svg" class="size-4" />
                        Reply
                        </button>
                    </div>
                </div>

                <!-- Text -->
                <p class="text-grey-500 leading-relaxed">
                    {{ comment_data.content }}
                </p>

                <!-- Mobile footer (EXACT image layout) -->
                <div class="flex md:hidden items-center justify-between">

                    <!-- Score mobile -->
                    <score
                        [score]="comment_data.score"
                        [data]="{
                        type: 'comment',
                        comment_id: comment_data.id,
                        username: comment_data.user.username
                        }"
                    />

                    <!-- Actions mobile -->
                    <div class="flex items-center gap-4 text-purple-600 font-bold text-sm">
                        <delete-dialog [data]="{
                            type: 'comment',
                            comment_id: comment_data.id,
                            username: comment_data.user.username
                        }"/>
                        <edit-dialog [data]="{
                            type: 'comment',
                            comment_id: comment_data.id,
                            content:comment_data.content,
                            username: comment_data.user.username
                        }" />
                        <button
                            class="flex gap-2 items-center"
                            (click)="handleShowForm()"
                        >
                            <img src="assets/icon-reply.svg" class="size-4" />
                            Reply
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </p-card>

    <!-- Reply form -->
    @if (store.activeReplyIdState() === comment_data.id) {
        <div class="mt-4">
            <app-form [data]="{
                type: 'reply',
                comment_id: comment_data.id,
                username: comment_data.user.username
            }" />
        </div>
    }
</main>
