/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --color-purple-600: hsl(238, 40%, 52%);
  --color-pink-400: hsl(358, 79%, 66%);
  --color-purple-200: hsl(239, 57%, 85%);
  --color-grey-800: hsl(212, 24%, 26%);
  --color-grey-500: hsl(211, 10%, 45%);
  --color-grey-100: hsl(228, 33%, 97%);
  
}

body {
  background-color: hsl(228, 33%, 97%) ;
  color:hsl(212, 24%, 26%) ;
}